.gerar-caso{
  display: flex;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 100rem;
  } 
  .gerar-caso label {
      display: block;
      flex-direction: column;
      margin-bottom: 2px;
      font-size: 16px;
    }
    
    .gerar-caso input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 5px;
      font-size: 14px;
      width: 95%;
    }
    
    /* Botão estilizado */
    .gerar-caso button {
      background-color: #4a6572;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      font-size: 16px;
    }
    
    .gerar-caso button:hover {
      background-color: #9dc88d;
      transition: background 0.5s ease;
    }
    @media screen and (max-width: 1170px) {
      .gerar-caso {
       margin-left: 90px;
       max-width: 18rem;
   } 
  }
   @media screen and (max-width: 600px) {
      .gerar-caso{
          padding: 9px;
          max-width: 16.5rem;
          margin-left: 5px;
      }
      
  }