.sidebar{
    width: 180px;
    height: 100vh;
    background-color: #7691d6;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0 ; 
    left: 0;
    display: flex;
    flex-direction: column;
    
}

.sidebar h3{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: color 0.5s ease;

}
.sidebar ul li a:hover{
    color: #a0a5a2;

}
.sidebar ul li a i{
    margin-right: 10px;
    font-size: 1.2rem;
}
.sidebar img{
    width: 90px;
    background-color: white;
    border: none;
}
/* responsividade */
@media (max-width: 768px) {
    .sidebar{
        width: 40px;
        height: 100vh;
    }
    .sidebar h3{
        display: none;
    }
    .sidebar ul li a {
        justify-content: center;
    }
    .sidebar ul li a i {
        font-size: 1.7rem;
        margin-right: 0;
    }
    .sidebar ul li a span {
        display: none;
    }
    .sidebar img {
        width: 50px;
        margin-right: 0 ;
        
    }
}